<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section  name="ConnectionSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <ConnectionSettings>
    <add key="connectString" value="Host=localhost;Username=postgres;Password=unit123456;Database=Infobip" />
    <add key="dbName" value="public.event_table_test" />
    <add key="dbReading_logs" value="public.reading_logs_test" />
    <add key="dctName" value="dct-infobip"/>
    <add key="eventTableName" value="event_table_test"/>
    <add key="eventTableSchema" value="id bigint NOT NULL GENERATED ALWAYS AS IDENTITY, eventid text, eventname character varying(50) NOT NULL, customeventid character varying(50), userversion bigint, personid bigint, createdate timestamp without time zone NOT NULL, properties jsonb, PRIMARY KEY (id)"/>
    <add key="readingLogsTableName" value="reading_logs_test"/>
    <add key="readingLogsTableSchema" value="id bigint NOT NULL GENERATED ALWAYS AS IDENTITY, dumpname text, createdate timestamp without time zone NOT NULL, timelastreading timestamp without time zone NOT NULL, PRIMARY KEY (id)"/>
    
  </ConnectionSettings>

  <appSettings>
    <add key="AWSProfileName" value="dev.net" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>

</configuration>